<p>
  This Weather Alert System is a simple application that demonstrates how<br>
  business/domain logic is more maintainable, reusable, and extendable when<br>
  separated from the external concerns of the application.
</p>

<h2>Actions</h2>

<table>
  <tr>
    <td>Alerts</td>
    <td><%= link_to 'View', routes.alerts_path %></td>
    <td><%= link_to 'New', routes.new_alert_path %></td>
  </tr>
</table>
