<!DOCTYPE html>
<html>
  <head>
    <title>WasHanami</title>
    <%= favicon %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <h1>Weather Alert System</h1>
    <%= yield %>
  </body>
</html>
